.intro {
	text-decoration: none;
	text-align: center;
	padding: 20px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	height: auto;
	width: auto;
	z-index: 70;
	font-size: 2rem;
}

.container {
	z-index: 69;
	position: relative;
	height: 100vh;
	overflow: hidden;
	animation: animate 4s linear infinite;
}

@keyframes animate {
	0% {
		filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
	}
}

.row {
	display: inline-flex;
	margin-top: -25.6px;
	margin-left: -40px;
}

.row:nth-child(even) {
	margin-left: 1px;
}

.hexagon {
	position: relative;
	width: 80px;
	height: 88px;
	margin: 1px;
	background: #15202b;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: 3s;
}

.hexagon:hover {
	background: #0f0;
	transition: 0s;
}

.hexagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	pointer-events: none;
	background: rgba(255, 255, 255, 0.02);
}

.hexagon:after {
	content: "";
	position: absolute;
	top: 4px;
	bottom: 4px;
	left: 4px;
	right: 4px;
	background: #111;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.glow-on-hover {
	margin: 20px 0px;
	width: 200px;
	height: 40px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:active {
	color: #000;
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

.clearfix {
	display: block;
}

.basr-social-share {
	display: block;
	text-align: center;
	padding: 0 auto;
	margin: 20px auto;
}

.social ul {
	display: flex;
	height: fit-content;
	justify-content: center;
	list-style: none;
	padding-left: 0;
	padding-right: 0;
}

.social ul li {
	margin: 0 7px;
	border: 5px solid #512e12;
	border-radius: 50%;
	position: relative;
	width: 60px;
	height: 60px;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
	.social ul li {
		border-width: 4px;
		width: 43px;
		height: 43px;
	}
}

.social ul li:before {
	content: "";
	border-radius: 50%;
	-webkit-shadow: inset 0 0px 3px rgba(149, 90, 42, 0.28),
		0px 0px 0px 2px rgba(149, 90, 42, 0.28);
	-ms-box-shadow: inset 0 0px 3px rgba(149, 90, 42, 0.28),
		0px 0px 0px 2px rgba(149, 90, 42, 0.28);
	box-shadow: inset 0 0px 3px rgba(149, 90, 42, 0.28),
		0px 0px 0px 2px rgba(149, 90, 42, 0.28);
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	opacity: 0.35;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
	.social ul li:before {
		width: 43px;
		height: 43px;
	}
}

.social ul li:hover {
	border-color: #a33629;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.social ul li:hover:before {
	-webkit-shadow: inset 0 0px 3px rgba(163, 54, 41, 0.28),
		0px 0px 0px 2px rgba(163, 54, 41, 0.28);
	-ms-box-shadow: inset 0 0px 3px rgba(163, 54, 41, 0.28),
		0px 0px 0px 2px rgba(163, 54, 41, 0.28);
	box-shadow: inset 0 0px 3px rgba(163, 54, 41, 0.28),
		0px 0px 0px 2px rgba(163, 54, 41, 0.28);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.social ul li:hover i {
	color: #d66557;
	-webkit-stroke-color: #a33629;
	-webkit-fill-color: #a33629;
	text-shadow: 1px 0px 20px #a33629;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.social ul li a {
	border-radius: 50%;
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 60px;
	height: 60px;
	line-height: 60px;
}

@media only screen and (max-width: 480px) {
	.social ul li a {
		background-size: cover;
		top: -5px;
		left: -5px;
		width: 45px;
		height: 45px;
		line-height: 45px;
	}
}

.social ul li a:before {
	content: "";
	background-image: url("https://img.picload.org/image/dcocwcga/border-social-hover.png");
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 46px;
	height: 45px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
	.social ul li a:before {
		background-size: cover;
		width: 30px;
		height: 30px;
	}
}

.social ul li a:after {
	content: "";
	background-image: url("https://img.picload.org/image/dcocwcgd/border-social.png");
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 46px;
	height: 45px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
	.social ul li a:after {
		background-size: cover;
		width: 30px;
		height: 30px;
	}
}

.social ul li a:hover:before {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) rotate(360deg);
	-ms-transform: translate(-50%, -50%) rotate(360deg);
	transform: translate(-50%, -50%) rotate(360deg);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.social ul li a:hover:after {
	opacity: 0;
	-webkit-transform: translate(-50%, -50%) rotate(360deg);
	-ms-transform: translate(-50%, -50%) rotate(360deg);
	transform: translate(-50%, -50%) rotate(360deg);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.social ul li a i {
	color: #ffead3;
	font-size: 23px;
	font-weight: 900;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-stroke-color: #ffead3;
	-webkit-fill-color: #ffead3;
	text-shadow: 1px 0px 20px #ffead3;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {
	.social ul li a i {
		font-size: 16px;
	}
}

.social ul li a i.fa-envelope {
	font-size: 14px;
	top: 48%;
}

.k2t-footer.dark-style .social li a,
.dark-style .social li a {
	color: #fff;
}

.k2t-footer.dark-style .social li a:hover,
.dark-style .social li a:hover {
	color: #fff;
}

.basr-social-share.social li:hover a {
	color: #898989;
}

.basr-social-share.social li a {
	border-width: 0;
	color: #cccccc;
}

.basr-social-share.social li a:hover {
	color: #898989;
}

.basr-social-share.social li a span {
	display: none;
}
